#shadow_box
    .box_content#box_content1
        #box_fullImage
            #box_hero
                #box_hero_largeText
                    //- ten
                #box_hero_smallText
                    //- 6 chu mieu ta khai quat
        #box_return
            img#back(src="./stack/2.shadow_box/svg/back.svg")
            img#menu(src="./stack/2.shadow_box/svg/menu.svg")
    .box_content#box_content2
        #box_wish
            #box_wish1 
            #box_wish_special
    #box_menu
