#menu_big {
    position: fixed;
    top: 0;
    left: 0;
    height: 0%; //100%
    width: 100%;  // 100%
    z-index: 1000;
    background: rgb(255, 255, 255);
    overflow: hidden;
    transition: height .3s cubic-bezier(0, 1, 0, 1);
    #menu_button {
        position: absolute;
        top: 0;
        left: 0;
        height: 96px;
        width: 100%;

        #menu_button_icon {
            position: absolute;
            top: 24px;
            right: 14px;
        }
    }

    img {
        transition: transform .3s cubic-bezier(0, 1, 0, 1);
    }

    img:active {
        transform: scale(0.875)
    }

    #menu_content {
        position: absolute;
        top: 96px;
        left: 14px;
        height: calc(100% - 192px);
        width: calc(100% - 28px);
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
        }
    }
    #note_menu {
        position: absolute;
        bottom: 24px;
        left: 14px;
        font-family: "Roboto",sans-serif;
        color:rgb(29, 35, 46);
        font-size: 14px;
        max-width: calc(100% - 28px);
    }
}