#menu_big
    #menu_button
        img#menu_button_icon(src="./stack/3.menu/svg/menu2.svg")
    #menu_content
        p 20/10/2021. Bởi các bạn nam A2-K13 ❤️.
    a#note_menu(href="https://docs.google.com/document/d/1KVeRgLxT0My0a33vpj-VLhzWRBL6Cxxarb5EptI71ko/edit").
        Làm vội quá nên sản phẩm không được đẹp lắm ^^' (P/s: Trang cuối)
//- made with love by Plasu @A2-K13