#menu_big
    #menu_button
        img#menu_button_icon(src="./stack/3.menu/svg/menu2.svg")
    #menu_content
        p 20/10/2021. Website by @PlasuX ❤️.
    p#note_menu.
        Làm vội quá nên sản phẩm không được đẹp lắm ^^'
//- made with love by Plasu @A2-K13