@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

#main {
    position: absolute;
    height: 100%;
    width: 100%;
    //background: rgb(255, 255, 255);
    //transition: 100ms linear;
    overflow: hidden;

    #typewrite {
        position: absolute;
        color: rgb(0, 0, 0);
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: center;
        line-height: normal;
    }

    #listmainImg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .mainImg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform .3s cubic-bezier(0, 1, 0, 1);
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: calc(100% + 5px);
                width: calc(100% + 5px);
                background: rgb(219, 218, 218);
                z-index: -1;
                border-radius: 5px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            }

            img {
                border-radius: 5px;
                width: 75px;
                -webkit-user-drag: none;
                user-drag: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
            }
        }
        .mainImg:active {
            transform: translate(-50%, -50%) scale(0.875);
        }
        #mainImg1 {
            top: calc(50% + 200px); // -100
            left: 50%;
        }

        #mainImg2 {
            top: calc(50% - 200px);
            left: 50%;
        }

        #mainImg3 {
            top: 50%;
            left: calc(50% + 200px);
        }

        #mainImg4 {
            top: 50%;
            left: calc(50% - 200px);
        }

        #mainImg5 {
            top: calc(50% + 150px);
            left: calc(50% + 150px);
        }

        #mainImg6 {
            top: calc(50% + 150px);
            left: calc(50% - 150px);
        }

        #mainImg7 {
            top: calc(50% - 150px);
            left: calc(50% + 150px);
        }
        #mainImg8 {
            top: calc(50% + 350px);
            left: 50%;
        }

        #mainImg9 {
            top: calc(50% - 350px);
            left: 50%;
        }

        #mainImg10 {
            top: 50%;
            left: calc(50% + 350px);
        }

        #mainImg11 {
            top: 50%;
            left: calc(50% - 350px);
        }

        #mainImg12 {
            top: calc(50% + 300px);
            left: calc(50% + 200px);
        }

        #mainImg13 {
            top: calc(50% + 300px);
            left: calc(50% - 200px);
        }

        #mainImg14 {
            top: calc(50% - 300px);
            left: calc(50% + 200px);
        }

        #mainImg15 {
            top: calc(50% - 300px);
            left: calc(50% - 200px);
            img {
                height: 75px;
                //sửa width -> ảnh dãn
                width: auto;
            }
        }

        #mainImg16 {
            top: calc(50% - 150px);
            left: calc(50% - 150px);
        }

        #mainImg17 {
            top: calc(50% - 200px);
            left: calc(50% - 300px);

            img {
                height: 75px;
                //sửa width -> ảnh dãn
                width: auto;
            }
        }

        #mainImg18 {
            top: calc(50% + 200px);
            left: calc(50% + 300px);
        }

        #mainImg19 {
            top: calc(50% + 200px);
            left: calc(50% - 300px);
        }

        #mainImg20 {
            top: calc(50% - 200px);
            left: calc(50% + 300px);
        }

        // #mainImg21 chưa có ảnh -> thu thảo
    }
}