#main
    p.typewrite#typewrite(data-period='2000' data-type='[ "Hi", "11A2", "cac ban nu"]')
        span.wrap
    #listmainImg
        .mainImg#mainImg1
            img(src="./stack/1.mainscreen/img/1. Hoàng Mai Anh.png")
//-
        .mainImg#mainImg2
        .mainImg#mainImg3
        .mainImg#mainImg4
        .mainImg#mainImg5
        .mainImg#mainImg6
        .mainImg#mainImg7
        .mainImg#mainImg8
        .mainImg#mainImg9
        .mainImg#mainImg10
        .mainImg#mainImg11
        .mainImg#mainImg12
        .mainImg#mainImg13
        .mainImg#mainImg14
        .mainImg#mainImg15
        .mainImg#mainImg16
        .mainImg#mainImg17
        .mainImg#mainImg18
        .mainImg#mainImg19
        .mainImg#mainImg20
        .mainImg#mainImg21