#main
    p.typewrite#typewrite(data-period='2000' data-type='[ "Hello ^^", "Bất ngờ chưa !!", "Bây giờ dịch căng thẳng quá ...", "Nhưng không sao", "Dịch bệnh không thể khiến 20/10 năm nay mất vui được", "Chúc mừng ngày phụ nữ Việt Nam !!", "và các bạn nữ của A2-K13 !!"]')
        span.wrap
    #listmainImg
        .mainImg#mainImg1
            img(src="./stack/1.mainscreen/img/1. Hoàng Mai Anh.png")
        .mainImg#mainImg2
            img(src="./stack/1.mainscreen/img/4. Nguyễn Tú Anh.jpg")
        .mainImg#mainImg3
            img(src="./stack/1.mainscreen/img/5. nguyễn vân anh.jpg")
        .mainImg#mainImg4
            img(src="./stack/1.mainscreen/img/8. đào thị thuỳ dương.jpg")
        .mainImg#mainImg5
            img(src="./stack/1.mainscreen/img/9. trịnh ánh dương.jpg")
        .mainImg#mainImg6
            img(src="./stack/1.mainscreen/img/12. chu thanh hằng.jpg")
        .mainImg#mainImg7
            img(src="./stack/1.mainscreen/img/13. love.jpg")
        .mainImg#mainImg8
            img(src="./stack/1.mainscreen/img/14. hồ quỳnh hoa.jpg")
        .mainImg#mainImg9
            img(src="./stack/1.mainscreen/img/25. đặng thảo linh.jpg")
        .mainImg#mainImg10
            img(src="./stack/1.mainscreen/img/26. nguyễn khánh linh.jpg")
        .mainImg#mainImg11
            img(src="./stack/1.mainscreen/img/27. trần kim trang linh.jpg")
        .mainImg#mainImg12
            img(src="./stack/1.mainscreen/img/28. trần lương khánh linh.jpg")
        .mainImg#mainImg13
            img(src="./stack/1.mainscreen/img/29. trần ngọc mai linh1.jpg")
        .mainImg#mainImg14
            img(src="./stack/1.mainscreen/img/31. hoàng ánh minh1.jpg")
        .mainImg#mainImg15
            img(src="./stack/1.mainscreen/img/34. đào minh nguyệt1.jpg")
        .mainImg#mainImg16
            img(src="./stack/1.mainscreen/img/37. nguyễn thanh tâm1.jpg")
        .mainImg#mainImg17
            img(src="./stack/1.mainscreen/img/39. phạm phương thảo1.jpg")
        .mainImg#mainImg18
            img(src="./stack/1.mainscreen/img/43. phạm thuỳ trang.jpg")
        .mainImg#mainImg19
            img(src="./stack/1.mainscreen/img/44. nguyễn thanh trúc1.jpg")
        .mainImg#mainImg20
            img(src="./stack/1.mainscreen/img/45. trần thuý trúc1.jpg")
        //-.mainImg#mainImg21
            img(src="./stack/1.mainscreen/img/ (số 38)")