@use './stack/1.mainscreen/main.scss';
@use './stack/2.shadow_box/box.scss';
@use './stack/3.menu/menu.scss';

* {
    scrollbar-width: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
}